<!DOCTYPE html>
<html lang="en">

<head>
 <%- include ('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>

<img src="img/agregar.png" alt="Agregar Estudiante" class="img-fluid">



  <div class="mt-5 p-4 bg-dark text-white text-center">
    <%- include('../partials/footer'); %>
  </div>
</body>

</html>