<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>

  <body>
    <%- include('../partials/header'); %>
    <div class="m-2 p-2 bg-primary text-white rounded text-center" >
      <h1>Funcion Modificar Estudiante</h1>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 text-center">  
          <h1>Paso 1</h1> 
          <div class="cardtext-center"  >
            <img class="card-img-top img-fluid" src="img/modificar1.png" alt="Card image" style="max-height: 700px; max-width: 500px">
            <div class="card-body">
              <hr>
              <p class="card-text">Se debe dar click en alguna parte de la tabla o en la fila donde se encuentra el registro para posteriormente Empezar a Modificar los Datos, En este Ejemplo modificaremos el registro con carne <strong>E002</strong></p>
            </div>
            <br>
            <hr>
            <img class="card-img-top img-fluid" src="img/modificar2.png" alt="Card image" style="max-height: 700px; max-width: 500px">
            <div class="card-body">
              <hr>
              <p class="card-text">Se deplegara un formulario para modificar los datos<br><strong>NOTA: El Formulario Tendra los Datos previamente seleccionados para elegir cual modificar, asi mismo tendremos 2 botones , para este ejemplo usaremos el boton modificar</strong></p>
            </div>
          </div>
        
        </div>

        <div class="col-md-6 text-center">  
          <h1>Paso 2</h1> 
          <div class="cardtext-center"  >
            <img class="card-img-top img-fluid" src="img/modificar3.png" alt="Card image" style="max-height: 700px; max-width: 500px">
            <div class="card-body">
              <hr>
              <p class="card-text">Para el Ejemplo modificaremos el  <strong>Nombre de "Juancho" por Joaquin, Luego de hacer la modificacion Precionamos el boton Modificar</strong></p>
            </div>
            <br>
            <hr>
            <img class="card-img-top img-fluid" src="img/modificar4.png" alt="Card image" style="max-height: 700px; max-width: 500px">
            <div class="card-body">
              <hr>
              <p class="card-text">Luego de Dar click en el boton Modificar Se mostrara la tabla con los datos modificados</strong></p>
            </div>
          </div>
        
        </div>
      </div>
    </div>


    <%- include('../partials/footer'); %>
  </body>
</html>
